@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: url('https://images6.alphacoders.com/133/1338293.jpeg');
}

.bg {
    background-image: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
}